{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/prop-types": [
      "off"
    ],
    "no-console": "error",
    "no-unused-vars": "warn",
  }
}