{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@mocks/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@context/(.*)$",
    "^@hooks/(.*)$",
    "^[./]",
    ""
  ],
  "importOrderSeparation": false
}
